<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.jpg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">Donate</a>
      <a class="navbar-item">Become a Hacker</a>
      <a href="/admin/games">Games</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info is-outlined">
            <strong>Log out</strong>
          </a>
          <a class="button is-info">
            Donate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <h1>Welcome, {{loggedUser.name}}</h1>
    <h3>{{loggedUser.role}}</h3>
  </div>
</header>

<div id="gamer-profile" class="container">
  <figure><img src="{{loggedUser.photoURL}}" alt=""></figure>
</div>

<div class="container" style="display:flex">

<div class="card" style="width: 30%; margin: 20px;">
  <div class="card-image waves-effect waves-block waves-light">
    <figure class="image is-4by3">
      <img src="#" alt="Placeholder image">
    </figure>
  </div>
  <footer class="card-footer">
    <a href="/admin/games/create" class="button is-info">Add Games</a>
  </footer>
</div>

<div class="card" style="width: 30%; margin: 20px;">
  <div class="card-image waves-effect waves-block waves-light">
    <figure class="image is-4by3">
      <img src="#" alt="Placeholder image">
    </figure>
  </div>
  <footer class="card-footer">
    <a href="/admin/games" class="button is-info">See Games</a>
  </footer>
</div>

<div class="card" style="width: 30%; margin: 20px;">
  <div class="card-image waves-effect waves-block waves-light">
    <figure class="image is-4by3">
      <img src="#" alt="Placeholder image">
    </figure>
  </div>
  <footer class="card-footer">
    <a href="/admin/users" class="button is-info">See Users</a>
  </footer>
</div>

</div>

  