<h1>Games</h1>

  <div id="create-game">
    <form action="/admin/games/create" method="POST">
      <input type="text" name="title" placeholder="Game Title" />
      <select name="genre" id="genre">
        <option value="Endless Runner">Endless Runner</option>
        <option value="Shoot'em up">Shoot'em up</option>
      </select>
      <textarea name="description" id="description" cols="30" rows="10" placeholder="Game Description"></textarea>
      <input type="text" name="createdBy" placeholder="Creator" />
      <input type="text" name="gameSource" placeholder="Game URL" />
      <input type="submit" value="Creaate Game">
    </form>
  </div>


<div id="games">
    {{#each games as |game|}}
    <p>{{game.title}}</p>
    <a href="/admin/games/delete/{{game._id}}">
      <button>Delete game</button>
    </a>
    <a href="/admin/games/edit/{{game._id}}">
      <button>Edit game</button>
    </a>
    {{/each}}
</div>