<div id="update-user">
    <form action="/dashboard/edit/{{user._id}}" method="POST">
      <label>Profile pic</label>
      <input type="text" name="image" placeholder="paste here the url of your image">
      <br>
      <br>
      <label>Name</label>
      <input type="text" name="name" value="{{user.name}}" />
      <br>
      <br>
      <label>Are you a gamer or a hacker?</label>
      <select name="role" id="role">
        <option value="Gamer">Gamer</option>
        <option value="Hacker">Hacker</option>
      </select>
      <input type="submit" value="Edit User">
    </form>
</div>