<div id="games">
    {{#each games as |game|}}
    <p>{{game.name}}</p>
    <a href="/admin/games/delete/{{game._id}}">
      <button>Delete game</button>
    </a>
    {{/each}}
  </div>

  <div id="create-game">
    <form action="/admin/games/create" method="POST">
      <input type="text" name="title" />
      <input type="text" name="genre" />
      <input type="text" name="description" />
      <input type="number" name="createdBy" />
      <input type="number" name="gameSource" />
      <input type="submit" value="Create artist">
    </form>
  </div>

</div>