<h1>Welcome, {{loggedUser.name}}</h1>
<h3>{{loggedUser.role}}</h3>
<img src="{{loggedUser.photoURL}}" alt="">

<div style ="display: flex; flex-wrap: wrap;">

<a href="/dashboard/edit/{{loggedUser._id}}">Edit Profile</a>