<div id="container">
  
<h1>{{title}}</h1>

  <form action="/" method="POST">
  <h3>Log in</h3>
  <label for="email" name="email"></label>
    <input type="email" name="email" />
    <input type="password" name="password">
    <input type="submit" value="Log in">
  </form>

  <form action="/" method="POST">
  <h3>Sign Up</h3>
    <label>Name:</label>
    <input type="text" name="name" />
    <label>Email:</label>
    <input type="email" name="email" />
    <label>Password:</label>
    <input type="password" name="password" />
    <input type="submit" value="Sign up">
  </form>
</div>
</div>
