<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.jpg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">Donate</a>
       <a class="navbar-item">Games</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info is-outlined">
            <strong>Log out</strong>
          </a>
          <a class="button is-info">
            Donate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <h1>Welcome, {{loggedUser.name}}</h1>
    <h3>Create a new game</h3>
  </div>
</header>

<div id="gamer-profile" class="container">
  <figure><img src="{{loggedUser.photoURL}}" alt=""></figure>
</div>

<div id="gamer-profile" class="container">
  <h2><i class="fas fa-award"></i>&nbsp;Fill in the blanks to create new game</h2>

<div id="container-form" class="container">
<div id="create-game">
  <form class="col s6 offset-s3" action="/admin/games/create" method="POST">
  <div class="field">
  <label class="label">Title</label>
  <input class="input" type="text" name="title" placeholder="Title">
</div>

<div class="field">
  <label class="label">Genre</label>
  <div class="control">
    <div class="select">
      <select name="genre" id="genre">
        <option>Select dropdown</option>
        <option value="Action">Action</option>
        <option value="Arcade">Arcade</option>
        <option value="Brick Breaker">Brick breaker</option>
        <option value="Dodging">Dodging</option>
        <option value="Endless Runner">Endless Runner</option>
        <option value="Music">Music</option>
        <option value="Platform">Platform</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Racing">Racing</option>
        <option value="Shoot'em up">Shoot'em up</option>
        <option value="Shooter">Shooter</option>
        <option value="Turn Base Strategy">Turn Base Strategy</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Description</label>
  <div class="control">
    <textarea class="textarea" name="description" id="description"placeholder="Game Description"></textarea>
  </div>
</div>

<div class="field">
  <label class="label">Created By</label>
  <div class="control">
    <input class="input" type="text" name="createdBy" placeholder="Created By">
  </div>
</div>

<div class="field">
  <label class="label">Source</label>
  <div class="control">
    <input class="input" type="text" name="gameSource" placeholder="Game Source" />
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="submit" value="Create Game" class="button is-info">Create Game</button>
  </div>
</div>
</form>
</div>
</div>
</div>