<div id="update-user">
    <form action="/admin/users/edit/{{user._id}}" method="POST">
      <input type="text" name="title" value="{{user.name}}" />
      <select name="role" id="role">
        <option value="Gamer">Gamer</option>
        <option value="Hacker">Hacker</option>
      </select>
      <input type="submit" value="Edit User">
    </form>
  </div>